body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.banner{
    text-align: center;
    background-image: url(images/edited.jpg);
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 300px;
}
.banner h1{
    color: white;
    font-size: 50px;
}
.banner h2{
    color: white;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(salmon, red);
    padding: 10px 40px;
    border-radius: 5px;
}
.second-section{
    text-align: center;
    padding-top: 100px;
}
.second-section h1{
    font-size: 60px;
}
.money-box{
    display: flex;
    text-align: center;
    padding-left: 15%;
}
.num-1{
    color: grey;
    background-color: rgb(240, 239, 239);
    border-radius: 5px;
    width: 150px;
    margin-left: 5%;
}
.num-2{
    color: salmon;
    background-color: rgb(247, 219, 216);
    border: 5px solid rgb(252, 110, 94);
    border-radius: 5px;
    width: 150px;
    margin-left: 5%;
}
.input{
    border: none;
    text-align: center;
    width: 95%;
    font-size: 20px;
    padding-top: 5%;
}
#border{
    border-bottom: 1px solid gray;
    margin-bottom: 2%;
}
.new-button{
    margin-left: 45%;
}
.plan{
    display: flex;
}
.plan-1{
    background-color: rgb(183, 229, 247);
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    padding-left: 20px;
}
.plan-2{
    background-color: rgb(250, 225, 229);
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    padding-left: 20px;
}
.plan-3{
    background-color: rgb(250, 243, 239);
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    padding-left: 20px;
}
.extra-part{
    display: flex;
    margin-top: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.form-box{
    text-align: center;
    background-color: rgb(250, 243, 239);
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
}
.form-box input{
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(216, 214, 214);
}